<navbar></navbar>
<div *ngIf="downloads.loading else connected" class="alert alert-info" role="alert">
  Connecting to server... {{downloads.loading}}
</div>
<ng-template #connected>
  <div class="container">
      <h2>Login</h2>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="username">Username:</label>
          <input id="username" type="text" [(ngModel)]="username" formControlName="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input id="password" type="password" [(ngModel)]="password"  formControlName="password" class="form-control">
        </div>
        <button type="submit" [disabled]="loginForm.invalid" (click)="logIn()" class="btn btn-primary">Login</button>
      </form>
  </div>
</ng-template>
